*{
    margin: 0;
    padding: 0;
}


html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

section{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@media (max-width: 601px){ 

    .top-bg{
        position: absolute;
        z-index: -1;
    }

    .bg-desktopTop{
        display: none;
    }

    .head{
        color: hsl(300, 43%, 22%);
        font-weight: 700;
        font-size: 2.5rem;
        width: 70%;
        text-align: center;
        margin-top: 50px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .textSub{
        color: hsl(303, 10%, 53%);
        font-weight: 500;
        width: 90%;
        text-align: center;
        font-size: 1.2rem;
        line-height: 25px;
        margin-bottom: 40px;
    }

    #ratingBox{
        background-color:hsl(300, 24%, 96%) ;
        width: 80%;
        height: 20%;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .starIcon{
        margin-left: 35%;
        margin-top: 10px;
    }

    .starSpace{
        padding-right: 0;
    }

    .ratingText{
        color: hsl(300, 43%, 22%);
        font-weight: 500;
        text-align: center;
        margin: 10px;
    }

    #purpleBox{
        position: relative;
        background-color: hsl(300, 43%, 22%);
        width: 80%;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .pfpIcon{
        position: absolute;
        left: 30px;
        top: 30px;
        width: 30px;
        border-radius: 50%;
    }

    .purpleText{
        color: white;
        margin-left: 80px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    .whiteText{
        color: white;
        width: 80%;
        margin-left: 35px;
        line-height: 20px;
        font-size: 15px;
        margin-bottom: 30px;
    }

    .bot-bg{
        position: absolute;
        z-index: 1;
        bottom: 0;
    }

    .desktop-botbg{
        display: none;
    }
    .attribution {
        margin-top: 350px;
        font-size: 11px;
        text-align: center;
    }
.attribution a {
        color: hsl(228, 45%, 44%);
    }

    .desktop-position{
        display: flex;
        flex-direction: column;
        align-items: center;
    }



}

@media (min-width: 600px){

    .bg-desktopTop{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }

    .top-bg{
        display: none;
    }

    .bot-bg{
        display: none;
    }

    .head{
        color: hsl(300, 43%, 22%);
        font-weight: 700;
        font-size: 8vh;
        max-width: 500px;
        width: 40%;
        margin-top: 50px;
        line-height: 65px;
        margin-bottom: 20px;
        position: absolute;
        left: 180px;
        top: 120px;
    }

    .textSub{
        color: hsl(303, 10%, 53%);
        font-weight: 500;
        width: 40%;
        font-size: 1.2rem;
        line-height: 25px;
        margin-bottom: 40px;
        position: absolute;
        left: 180px;
        top: 380px;
    }

    #ratingBox{
        background-color:hsl(300, 24%, 96%) ;
        width: 30%;
        height: 50px;
        border-radius: 5px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        position: absolute;
        right: 170px;
        text-align: center;
    }

    .starIcon{
        margin-left: 50px;
    }

    .starSpace{
        padding-right: 2px;
    }
    
    .positionRating1{
        top: 180px;
    }

    .positionRating2{
        top: 240px;
        margin-right: -30px;
    }

    .positionRating3{
        top: 300px;
        margin-right: -60px;
    }

    .ratingText{
        color: hsl(300, 43%, 22%);
        font-weight: bold;
        text-align: center;
        margin: 10px;
        padding-top: 4px;
    }

    .desktop-position{
        display: flex;
        position: absolute;
        top: 500px;
        left: 150px;
    }

    #purpleBox{
        position: relative;
        background-color: hsl(300, 43%, 22%);
        width: 28%;
        border-radius: 5px;
        margin-bottom: 15px;
        margin-left: 25px;

    }

    .positionReview2{
        top: 20px;
    }
    
    .positionReview3{
        top: 40px;
    }

    .pfpIcon{
        position: absolute;
        left: 30px;
        top: 47px;
        width: 40px;
        border-radius: 50%;
    }

    .purpleText{
        color: white;
        margin-left: 80px;
        margin-top: 50px;
        margin-bottom: 30px;
        line-height: 20px;
    }
    
    .whiteText{
        color: white;
        width: 80%;
        margin-left: 35px;
        line-height: 20px;
        font-size: 15px;
        margin-bottom: 40px;
    }

    .desktop-botbg{
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
    }
    .attribution {
        position: absolute;
        bottom: 0;
        left: 40%;
        font-size: 11px;
        text-align: center;
    }
.attribution a {
        color: hsl(228, 45%, 44%);
    }



}
